body{
    background: rgb(200,61,255);
    background: linear-gradient(-135deg, rgba(200,61,255,1) 0%, rgba(44,46,232,1) 35%, rgba(200,61,255,1) 100%);
}

.logo{
    padding-right: 1rem;
}

.navbar-inner {
    background:transparent;
}